html, body {
	overflow-x: hidden;
}
body {
	background-color: white;
}
img {
	width: 60px;
	height:auto;
}
[draggable] {
	cursor: grab;
}
[draggable]:active {
	cursor: grabbing;
}
.choicebuttons > .pill-button + .pill-button {
	margin-left: 1rem;
}
.pill-button {
	color: inherit;
	text-decoration: none;
	padding: 0.64rem;
	background-color: rgba(0, 0, 0, 0.08);
	border-radius: 24px;
	position:fixed;
	bottom: 2rem;
	right: 2rem;
	font-family: 'Quicksand', sans-serif;
}
.pill-button:hover {
	background-color: rgba(0, 0, 0, 0.12);
}
.pill-button:active {
	background-color: rgba(0, 0, 0, 0.16);
}
.dropbox {
	display: flex;
	justify-content: center;
}
.symbols {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin-top: 5rem;
	
}
.dropzone {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.dropbox {
	width: 100%;
	opacity: 0.3;
}
.dropbox img {
	padding: 24px;
}
.bgbuttons {
	position: fixed;
	bottom: 2rem;
	left: 2rem;
}
.bgbuttons button {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 0;
	cursor: pointer;
}
.bgbuttons button:focus {
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.8);
}
button.white {
	background-color: #fff;
}
button.red {
	background-color: #FE9393;
}
button.orange {
	background-color: #FFC69D;
}
button.yellow {
	background-color: #FFF9BE;
}
button.green {
	background-color: #DFFFD0;
}
button.teal {
	background-color: #C5FBFF;
}
button.blue {
	background-color: #C3D8FF;
}
button.lilac {
	background-color: #E9CCFF;
}

.title {
text-align:center;
font-family: 'Quicksand', sans-serif;

}